@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using AlquileresApp.UI.Components.Layout

<div class="page">
    <NavMenu />
    <main class="main">
        <div class="content">
            @Body
        </div>
    </main>
</div>

