@namespace AlquileresApp.UI.Components.Layout
@inherits ComponentBase
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<link href="css/NavMenu.css?v=@DateTime.Now.Ticks" rel="stylesheet" />

<div class="navbar">
    <div class="container">
        <div class="navbar-brand navbar-start">
            <img src="images/logo.png" alt="Alquilando Logo" class="logo" />
            <span class="brand-text">ALQUILANDO</span>
        </div>
        
        <div class="auth-buttons navbar-end">
            <a href="/Login" class="btn">Iniciar Sesión</a>
            <a href="/Registro" class="btn">Registrarse</a>
        </div>
    </div>
</div>


   






