<div class="search-field">
    <label for="location">Destino</label>
    <input id="location" type="text" class="input" placeholder="¿A dónde vas?" />
</div>
@code {
    [Parameter]
public string? Localidad { get; set; }

    [Parameter]
    public EventCallback<string> LocalidadChanged { get; set; }
}