@page "/"

<PageTitle>Alquilando - Inicio</PageTitle>

<div class="text-center">
    <h1 class="display-4">Bienvenido a Alquilando</h1>
    <p>Encuentra tu próximo hogar ideal</p>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Buscar Propiedades</h5>
                <p class="card-text">Explora nuestra amplia selección de propiedades disponibles.</p>
                <a href="search" class="btn btn-primary">Buscar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Publicar Propiedad</h5>
                <p class="card-text">¿Tienes una propiedad para alquilar? ¡Publícala con nosotros!</p>
                <a href="publish" class="btn btn-primary">Publicar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sobre Nosotros</h5>
                <p class="card-text">Conoce más sobre Alquilando y nuestros servicios.</p>
                <a href="about" class="btn btn-primary">Más Info</a>
            </div>
        </div>
    </div>
</div> 