.input-container {
    margin-bottom: 1.5rem;
}

.input-container label {
    margin-bottom: 0.2rem;
    color: #1F3F48;
}

.text-muted {
    font-size: 0.875rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

::deep button.btn {
    padding: 0.4rem 1.2rem;
    border-radius: 4px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    background-color: #f1771f;
    border: 1px solid #f1771f;
    color: white;
    white-space: nowrap;
    font-size: 0.95rem;
    width: 130px;
    text-align: center;
    display: inline-block;
}



