.registro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.registro-title {
    font-size: 1.5rem;
    color: #1F3F48;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;
}

.registro-form {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.registro-form section {
    width: 100%;
}

:deep(input.form-control),
:deep(select.form-control),
:deep(textarea.form-control) {
    border: 1px solid #ced4da;
    border-radius: 6px;
    box-shadow: none;
    outline: none;
}

:deep(input.form-control:focus),
:deep(select.form-control:focus),
:deep(textarea.form-control:focus) {
    border-color: #596E69;
    box-shadow: none;
    outline: none;
}


.registro-button {
    background-color: #1F3F48 !important;
    border-color: #1F3F48 !important;
    color: white;
    width: 100%;
    padding: 0.75rem !important;
    margin-top: 1rem;
}

.registro-button:hover {
    background-color: #244e5a !important;
    border-color: #1F3F48 !important;
    color: white;
} 