input.mi-input,
textarea.mi-input.mi-text-input {
    display: block;
    outline: none !important;
    box-shadow: none !important;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

input.mi-input:focus,
textarea.mi-input.mi-text-input:focus {
    border-color: #596E69 !important;
    outline: none !important;
    box-shadow: none !important;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.input-container label {
    margin-bottom: 0.1rem;
}

.registro-button {
    background-color: #1F3F48 !important;
    border-color: #1F3F48 !important;
    color: white;
    width: 100%;
    padding: 0.75rem !important;
    margin-top: 1rem; 
}

.registro-button:hover {
    background-color: #244e5a !important;
    border-color: #1F3F48 !important;
    color: white;
} 

.form-floating > .form-control,
.form-floating > .mi-input {
  padding-top: 1.625rem !important;   /* espacio para el label flotando */
  padding-bottom: 0.625rem !important;
  height: auto !important;            /* por si el height estaba forzado */
  line-height: 1.25 !important;       /* mejora la legibilidad */
}

