<nav class="nav-bar">
    <div class="logo">Alquilando</div>
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/logout" title="Salir"><i class="bi bi-box-arrow-right"></i></a></li>
    </ul>
</nav>
